<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <ol>
        <li>Create two new components warnig and sucess</li>
        <li>out put them beneath each other in the AppComponent</li>
        <li>Out put a warning or success message</li>
        <li>Style the components appropriately</li>
      </ol>
      <p>Use external or internal template and style</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors</p>
    <hr> -->
    <!-- <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert> -->
<p>I am in the AppComponent</p>
    <hr>
    <app-servers></app-servers>
    <app-server></app-server>
    </div>
  </div>
</div>
